<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RepairDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ProyectoIIBJCF;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization culture="es-CR" uiCulture="es-CR" fileEncoding="utf-8" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="60" slidingExpiration="true" />
    </authentication>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
